/* colors */
.text-primary{
    --bs-text-opacity: 1;
    color: $colour-primary !important;
}

.text-secondary{
    --bs-text-opacity: 1;
    color: $colour-secondary !important;
}

.text-success{
    --bs-text-opacity: 1;
    color: $colour-success !important;
}

.text-danger{
    --bs-text-opacity: 1;
    color: $colour-danger !important;
}

.text-warning{
    --bs-text-opacity: 1;
    color: $colour-warning !important;
}

.text-info{
    --bs-text-opacity: 1;
    color: $colour-primary !important;
}

.text-light{
    --bs-text-opacity: 1;
    color: $colour-beige !important;
}

.text-dark{
    --bs-text-opacity: 1;
    color: $colour-title !important;
}

.text-body{
    --bs-text-opacity: 1;
    color: $colour-body !important;
}

.text-muted{
    --bs-text-opacity: 1;
    color: $colour-text !important;
}

.text-white{
    --bs-text-opacity: 1;
    color: $colour-body !important;
}

