/* Spacing */

/* utiliser sur la colonne */
.spacing-col-padding-top-100 {
    padding-top: 100px;
}

.spacing-col-padding-bottom-100 {
    padding-bottom: 100px;
}

.spacing-col-padding-bottom-150 {
    padding-bottom: 150px;
}

.spacing-col-padding-top-50 {
    padding-top: 50px;
}

.spacing-col-padding-bottom-50 {
    padding-bottom: 50px;
}

/* utiliser sur une div content */
.spacing-content-padding-top-40 {
    padding-top: 40px;
}

.spacing-content-padding-bottom-40 {
    padding-bottom: 40px;
}

.spacing-content-marging-top-40 {
    margin-top: 40px;
}

.spacing-content-marging-bottom-40 {
    margin-bottom: 40px;
}

/* utiliser sur une div élément */
.spacing-element-marging-top-20 {
    margin-top: 20px;
}

.spacing-element-marging-bottom-20 {
    margin-bottom: 20px;
}

.spacing-element-marging-right-10 {
    margin-right: 10px;
}

/* padding */
.padding-top-20 {
    padding-top: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

/* margin */

.marging-top-20 {
    margin-top: 20px;
}

.marging-bottom-10 {
    margin-bottom: 10px;
}

.marging-bottom-20 {
    margin-bottom: 20px;
}

.marging-bottom-50 {
    margin-bottom: 50px;
}