/* Couleurs globales */
$colour-body: white;
$colour-background: #FDF6F0;
$colour-background-secondary: #FAE6DB;
$colour-title: #19154B;
$colour-light-dark: #c2bfe5;
$colour-hover-title: #110e30;
$colour-text: #5b5a67;
$colour-subtitle: #79829B;
$colour-primary: #986df8;
$colour-light-primary: #dccdff;
$colour-extra-light-primary: #f0ebfd;
$colour-hover-primary: #8651fa;
$colour-secondary: #fc7629;
$colour-light-secondary: #ffe5da;
$colour-hover-secondary: #d65a11;
$colour-beige: #FFCAAD;
$colour-none: rgb(255 255 255 / 0%);
/* Couleurs utiles */
$colour-warning: #F2B45A;
$colour-light-warning: #fff8dd;
$colour-hover-warning: #f1bc00;
$colour-success: #22D489;
$colour-light-success: #e4fff4;
$colour-hover-success: #19b674;
$colour-danger: #DE506E;
$colour-light-danger: #ffeff3;
$colour-hover-danger: #d9214e;
/* Ombres */
$box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
$box-shadow-aside: 1px 1px 22px rgba(165, 62, 3, 0.1);
$box-shadow-nav: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
/* Polices princiaples */
$font-logo: "Baloo Thambi 2", system-ui;
$font-title: "Mulish", sans-serif;
$font-text: "Hind Siliguri", sans-serif;
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;