@charset "UTF-8";
/* Couleurs globales */
/* Couleurs utiles */
/* Ombres */
/* Polices princiaples */
/* Backgrounds */
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #986df8 !important;
}

.bg-primary-subtle {
  background-color: #dccdff !important;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: #fc7629 !important;
}

.bg-secondary-subtle {
  background-color: #ffe5da !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: #22D489 !important;
}

.bg-success-subtle {
  background-color: #e4fff4 !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: #DE506E !important;
}

.bg-danger-subtle {
  background-color: #ffeff3 !important;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: #F2B45A !important;
}

.bg-warning-subtle {
  background-color: #fff8dd !important;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: #986df8 !important;
}

.bg-info-subtle {
  background-color: #dccdff !important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #FFCAAD !important;
}

.bg-light-subtle {
  background-color: #FDF6F0 !important;
}

.bg-extra-light-subtle {
  background-color: #FAE6DB !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #19154B !important;
}

.bg-primary-subtle {
  background-color: #c2bfe5 !important;
}

/* colors */
.text-primary {
  --bs-text-opacity: 1;
  color: #986df8 !important;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: #fc7629 !important;
}

.text-success {
  --bs-text-opacity: 1;
  color: #22D489 !important;
}

.text-danger {
  --bs-text-opacity: 1;
  color: #DE506E !important;
}

.text-warning {
  --bs-text-opacity: 1;
  color: #F2B45A !important;
}

.text-info {
  --bs-text-opacity: 1;
  color: #986df8 !important;
}

.text-light {
  --bs-text-opacity: 1;
  color: #FFCAAD !important;
}

.text-dark {
  --bs-text-opacity: 1;
  color: #19154B !important;
}

.text-body {
  --bs-text-opacity: 1;
  color: white !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #5b5a67 !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: white !important;
}

/* Spacing */
/* utiliser sur la colonne */
.spacing-col-padding-top-100 {
  padding-top: 100px;
}

.spacing-col-padding-bottom-100 {
  padding-bottom: 100px;
}

.spacing-col-padding-bottom-150 {
  padding-bottom: 150px;
}

.spacing-col-padding-top-50 {
  padding-top: 50px;
}

.spacing-col-padding-bottom-50 {
  padding-bottom: 50px;
}

/* utiliser sur une div content */
.spacing-content-padding-top-40 {
  padding-top: 40px;
}

.spacing-content-padding-bottom-40 {
  padding-bottom: 40px;
}

.spacing-content-marging-top-40 {
  margin-top: 40px;
}

.spacing-content-marging-bottom-40 {
  margin-bottom: 40px;
}

/* utiliser sur une div élément */
.spacing-element-marging-top-20 {
  margin-top: 20px;
}

.spacing-element-marging-bottom-20 {
  margin-bottom: 20px;
}

.spacing-element-marging-right-10 {
  margin-right: 10px;
}

/* padding */
.padding-top-20 {
  padding-top: 20px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

/* margin */
.marging-top-20 {
  margin-top: 20px;
}

.marging-bottom-10 {
  margin-bottom: 10px;
}

.marging-bottom-20 {
  margin-bottom: 20px;
}

.marging-bottom-50 {
  margin-bottom: 50px;
}

/* base */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
}

/* Images */
.featured-image-post {
  border-radius: 20px;
}

.image-input.image-input-outline .image-input-wrapper {
  border: 3px solid var(--bs-body-bg);
  box-shadow: var(--bs-box-shadow);
}

.image-input .image-input-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-input-placeholder {
  background-image: url(images/article-en-une.png);
}

.image-input {
  position: relative;
  display: inline-block;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-input [data-kt-image-input-action=change] {
  left: 100%;
  top: 0;
}

.image-input [data-kt-image-input-action] {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
}

.image-input.image-input-empty [data-kt-image-input-action=cancel],
.image-input.image-input-empty [data-kt-image-input-action=remove] {
  display: none;
}

.image-input [data-kt-image-input-action=cancel],
.image-input [data-kt-image-input-action=remove] {
  position: absolute;
  left: 100%;
  top: 100%;
}

.image-input [data-kt-image-input-action=change] input {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

/* typography */
.heading-home {
  font-family: "Mulish", sans-serif;
  font-size: 66px;
  color: #19154B;
  font-weight: 700;
  line-height: 1.1em;
}

.running-text {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  color: #5b5a67;
  font-weight: 400;
}

.highlighted-text {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  color: #5b5a67;
  font-weight: 500;
}

.titre-page {
  font-family: "Mulish", sans-serif;
  font-size: 56px;
  color: #19154B;
  font-weight: 700;
  line-height: 1.1em;
}

.titre-section {
  font-family: "Mulish", sans-serif;
  font-size: 46px;
  color: #19154B;
  font-weight: 700;
  line-height: 1.1em;
}

.titre-h3 {
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  color: #19154B;
  font-weight: 700;
}

.titre-h4 {
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  color: #19154B;
  font-weight: 700;
}

.titre-h5 {
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  color: #19154B;
  font-weight: 700;
}

.titre-h6 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  color: #19154B;
  font-weight: 700;
}

.color-link-primary {
  color: #986df8;
  text-decoration: none;
  font-weight: 500;
}
.color-link-primary:hover {
  text-decoration: underline;
}

.text-category {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  color: #986df8;
  font-weight: 700;
  text-transform: uppercase;
}

/* main admin */
@media (min-width: 992px) {
  main {
    padding-left: 21rem;
  }
}
main {
  margin-top: 48px;
}

/* Navbar */
/* frontend */
.navbar .navbar-brand {
  color: #19154B;
  font-family: "Baloo Thambi 2", system-ui;
  font-size: 38px;
  padding-right: 20px;
}
.navbar .navbar-brand:hover {
  color: #986df8;
}
.navbar .navigation {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar .navigation .nav-link {
  color: #19154B;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
}
.navbar .navigation .nav-link:hover {
  color: #986df8;
}

/* Navigation backend */
.navbar-backend {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: white;
  box-shadow: #fdf6f0 0px 7px 29px 0px;
}
.navbar-backend .navbar-nav {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  padding-left: 145px;
}
.navbar-backend .navbar-nav .nav-link {
  color: #5b5a67;
}
.navbar-backend .navbar-nav .nav-link.active {
  color: #986df8;
  font-weight: 500;
}
.navbar-backend .container-fluid {
  padding-right: 45px;
}
.navbar-backend .container-fluid .navbar-brand img {
  width: 47px;
}
.navbar-backend .container-fluid .navbar-brand span {
  font-family: "Baloo Thambi 2", system-ui;
  font-size: 30px;
  color: white;
  margin-left: 15px;
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 40px;
  color: white;
}
.footer .colonne-1 span {
  font-family: "Baloo Thambi 2", system-ui;
  font-size: 40px;
}
.footer .colonne-1 span:hover {
  color: #986df8;
}
.footer .colonne-1 p {
  font-family: "Mulish", sans-serif;
  margin-top: 20px;
  color: white;
}
.footer .colonne-2 {
  padding-top: 70px;
  padding-left: 150px;
  font-family: "Mulish", sans-serif;
}
.footer .colonne-2 .list-group-item {
  box-shadow: 1px 1px 22px rgba(165, 62, 3, 0.1);
  font-size: 18px;
  position: relative;
  display: block;
  color: white;
  padding: 0;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  margin-bottom: 2px;
  border: rgba(255, 255, 255, 0);
}
.footer .colonne-2 .list-group-item i {
  color: #fc7629;
}
.footer .colonne-2 .list-group-item a {
  color: white;
}
.footer .colonne-2 .list-group-item a:hover {
  color: #fc7629;
  text-decoration: underline;
}
.footer .colonne-3 {
  font-family: "Mulish", sans-serif;
  padding-top: 70px;
}
.footer .colonne-3 .form-label {
  font-size: 18px;
}
.footer .nav {
  font-family: "Mulish", sans-serif;
  color: white;
}
.footer .nav a {
  color: #fc7629;
}
.footer .nav a:hover {
  color: #986df8;
}

/* Alertes */
.display-alerts {
  margin-top: 250px;
  margin-left: 150px;
}
.display-alerts .alert {
  width: 250px;
  text-align: center;
}
.display-alerts .alert-success {
  color: #177137;
  border-color: #177137;
  background-color: #dfffea;
}
.display-alerts .alert-danger {
  color: #f8285a;
  border-color: #f8285a;
  background-color: #ffeef3;
}

/* Breadcrumb */
.breadcrumb {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.breadcrumb .breadcrumb-link {
  color: #fc7629;
}
.breadcrumb .breadcrumb-link:hover {
  color: #986df8;
}
.breadcrumb .breadcrumb-links {
  color: #19154B;
}
.breadcrumb .breadcrumb-links:hover {
  color: #986df8;
}
.breadcrumb .breadcrumb-item.active {
  color: #986df8;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: #986df8;
  font-weight: 500;
  font-size: 20px;
  content: var(--bs-breadcrumb-divider, "<");
}

/* buttons */
.btn-primary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #986df8;
  border: 1px solid #986df8;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-primary:hover {
  color: white;
  background: #8651fa;
  border: 1px solid #8651fa;
}

.btn-secondary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #fc7629;
  border: 1px solid #fc7629;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-secondary:hover {
  color: white;
  background: #d65a11;
  border: 1px solid #d65a11;
}

.btn-success {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #22D489;
  border: 1px solid #22D489;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-success:hover {
  color: white;
  background: #19b674;
  border: 1px solid #19b674;
}

.btn-danger {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #DE506E;
  border: 1px solid #DE506E;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-danger:hover {
  color: white;
  background: #d9214e;
  border: 1px solid #d9214e;
}

.btn-warning {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #F2B45A;
  border: 1px solid #F2B45A;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-warning:hover {
  color: white;
  background: #f1bc00;
  border: 1px solid #f1bc00;
}

.btn-dark {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #19154B;
  border: 1px solid #19154B;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-dark:hover {
  color: white;
  background: #110e30;
  border: 1px solid #110e30;
}

.btn-white {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #19154B;
  background: white;
  border: 1px solid white;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-white:hover {
  color: white;
  background: #19154B;
  border: 1px solid #19154B;
}

.btn-light {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #19154B;
  background: #FDF6F0;
  border: 1px solid #FDF6F0;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-light:hover {
  color: #19154B;
  background: #FAE6DB;
  border: 1px solid #FAE6DB;
}

.btn-info {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #986df8;
  border: 1px solid #986df8;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-info:hover {
  color: white;
  background: #8651fa;
  border: 1px solid #8651fa;
}

.btn-light-primary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #986df8;
  background: #dccdff;
  border: 1px solid #dccdff;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-light-primary:hover {
  color: white;
  background: #986df8;
  border: 1px solid #986df8;
}

.btn-light-secondary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fc7629;
  background: #ffe5da;
  border: 1px solid #ffe5da;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-light-secondary:hover {
  color: white;
  background: #fc7629;
  border: 1px solid #fc7629;
}

.btn-light-success {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #22D489;
  background: #e4fff4;
  border: 1px solid #e4fff4;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-light-success:hover {
  color: white;
  background: #22D489;
  border: 1px solid #22D489;
}

.btn-light-danger {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #DE506E;
  background: #ffeff3;
  border: 1px solid #ffeff3;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-light-danger:hover {
  color: white;
  background: #DE506E;
  border: 1px solid #DE506E;
}

.btn-light-warning {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F2B45A;
  background: #fff8dd;
  border: 1px solid #fff8dd;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-light-warning:hover {
  color: white;
  background: #F2B45A;
  border: 1px solid #F2B45A;
}

.btn-light-dark {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #19154B;
  background: #c2bfe5;
  border: 1px solid #c2bfe5;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-light-dark:hover {
  color: white;
  background: #19154B;
  border: 1px solid #19154B;
}

.btn-light-info {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #986df8;
  background: #dccdff;
  border: 1px solid #dccdff;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-light-info:hover {
  color: white;
  background: #986df8;
  border: 1px solid #986df8;
}

.btn-outline-primary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #986df8;
  background: white;
  border: 1px solid #986df8;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-primary:hover {
  color: white;
  background: #986df8;
  border: 1px solid #986df8;
}

.btn-outline-secondary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fc7629;
  background: white;
  border: 1px solid #fc7629;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-secondary:hover {
  color: white;
  background: #fc7629;
  border: 1px solid #fc7629;
}

.btn-outline-success {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #22D489;
  background: white;
  border: 1px solid #22D489;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-success:hover {
  color: white;
  background: #22D489;
  border: 1px solid #22D489;
}

.btn-outline-danger {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #DE506E;
  background: white;
  border: 1px solid #DE506E;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-danger:hover {
  color: white;
  background: #DE506E;
  border: 1px solid #DE506E;
}

.btn-outline-warning {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F2B45A;
  background: white;
  border: 1px solid #F2B45A;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-warning:hover {
  color: white;
  background: #F2B45A;
  border: 1px solid #F2B45A;
}

.btn-outline-dark {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #19154B;
  background: white;
  border: 1px solid #19154B;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-dark:hover {
  color: white;
  background: #110e30;
  border: 1px solid #110e30;
}

.btn-outline-white {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-white:hover {
  color: #19154B;
  background: white;
  border: 1px solid white;
}

.btn-outline-light {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #FDF6F0;
  background: white;
  border: 1px solid #FDF6F0;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-light:hover {
  color: #fc7629;
  background: #FDF6F0;
  border: 1px solid #FDF6F0;
}

.btn-outline-info {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #986df8;
  background: white;
  border: 1px solid #986df8;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-outline-info:hover {
  color: white;
  background: #986df8;
  border: 1px solid #986df8;
}

.btn-icon-social-secondary {
  background-color: #fc7629;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
}
.btn-icon-social-secondary i {
  color: white;
}
.btn-icon-social-secondary:hover {
  background-color: #986df8;
}

.btn-icon-primary {
  background-color: #986df8;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
}
.btn-icon-primary i {
  font-size: 20px;
  color: white;
}
.btn-icon-primary:hover {
  background-color: #8651fa;
}

.btn-icon-secondary {
  background-color: #fc7629;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
}
.btn-icon-secondary i {
  font-size: 20px;
  color: white;
}
.btn-icon-secondary:hover {
  background-color: #d65a11;
}

.btn-icon-danger {
  background-color: #DE506E;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
}
.btn-icon-danger i {
  font-size: 20px;
  color: white;
}
.btn-icon-danger:hover {
  background-color: #DE506E;
}

.btn-icon-sucess {
  background-color: #22D489;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
}
.btn-icon-sucess i {
  font-size: 20px;
  color: white;
}
.btn-icon-sucess:hover {
  background-color: #22D489;
}

.btn-icon-dark {
  background-color: #19154B;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
}
.btn-icon-dark i {
  font-size: 20px;
  color: white;
}
.btn-icon-dark:hover {
  background-color: #19154B;
}

.btn-icon-outline-dark {
  background-color: white;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
  border: 1px solid #19154B;
  font-size: 20px;
  color: #19154B;
}
.btn-icon-outline-dark:hover {
  background-color: #19154B;
  color: white;
}

.btn-icon-outline-primary {
  background-color: white;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
  border: 1px solid #986df8;
  font-size: 20px;
  color: #986df8;
}
.btn-icon-outline-primary:hover {
  background-color: #986df8;
  color: white;
}

.btn-icon-outline-danger {
  background-color: white;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
  border: 1px solid #DE506E;
  font-size: 20px;
  color: #DE506E;
}
.btn-icon-outline-danger:hover {
  background-color: #DE506E;
  color: white;
}

.btn-icon-outline-success {
  background-color: white;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
  border: 1px solid #22D489;
  font-size: 20px;
  color: #22D489;
}
.btn-icon-outline-success:hover {
  background-color: #22D489;
  color: white;
}

.btn-icon-circle-secondary {
  background-color: #fc7629;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 4px;
  margin-right: 8px;
  border-radius: 50%;
}
.btn-icon-circle-secondary i {
  color: white;
}
.btn-icon-circle-secondary:hover {
  background-color: #986df8;
}

.btn-icon-circle-primary {
  background-color: #986df8;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 4px;
  margin-right: 8px;
  border-radius: 50%;
}
.btn-icon-circle-primary i {
  color: white;
}
.btn-icon-circle-primary:hover {
  background-color: #fc7629;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: white;
  pointer-events: none;
  background-color: #986df8;
  border-color: #986df8;
  opacity: 1;
}

.btn-link-light {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: none;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}
.btn-link-light:hover {
  text-decoration: underline;
  color: #fc7629;
  background: rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
}

.btn-icon-pencil-circle-secondary {
  background-color: #fc7629;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-right: 8px;
  border-radius: 50%;
}
.btn-icon-pencil-circle-secondary i {
  color: white;
}
.btn-icon-pencil-circle-secondary:hover {
  background-color: #986df8;
}

.btn-icon-modal-primary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #986df8;
  border: 1px solid #986df8;
  border-radius: 12px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-icon-modal-primary:hover {
  color: white;
  background: #8651fa;
  border: 1px solid #8651fa;
}

.btn-icon-modal-secondary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #fc7629;
  border: 1px solid #fc7629;
  border-radius: 12px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-icon-modal-secondary:hover {
  color: white;
  background: #d65a11;
  border: 1px solid #d65a11;
}

.btn-icon-modal-warning {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #F2B45A;
  border: 1px solid #F2B45A;
  border-radius: 12px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-icon-modal-warning:hover {
  color: white;
  background: #f1bc00;
  border: 1px solid #f1bc00;
}

.btn-icon-modal-light {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #FFCAAD;
  border: 1px solid #FFCAAD;
  border-radius: 12px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-icon-modal-light:hover {
  color: white;
  background: #E8AD8D;
  border: 1px solid #E8AD8D;
}

.btn-icon-modal-circle-secondary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #fc7629;
  border: 1px solid #fc7629;
  border-radius: 50%;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}
.btn-icon-modal-circle-secondary:hover {
  color: white;
  background: #d65a11;
  border: 1px solid #d65a11;
}

.btn-status-modal-outline-primary {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #986df8;
  background: white;
  border: 1px solid #986df8;
  border-radius: 24px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.btn-status-modal-outline-primary:hover {
  color: white;
  background: #8651fa;
  border: 1px solid #8651fa;
}

/* Forms */
.form-group-style input[type=text] {
  width: 100%;
  padding: 0.825rem 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #986df8;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  outline-color: #986df8;
}
.form-group-style input[type=email] {
  width: 100%;
  padding: 0.825rem 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #986df8;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  outline-color: #986df8;
}
.form-group-style input[type=password] {
  width: 100%;
  padding: 0.825rem 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #986df8;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  outline-color: #986df8;
}
.form-group-style input[type=date] {
  width: 100%;
  padding: 0.825rem 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #986df8;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  outline-color: #986df8;
}
.form-group-style input[type=file] {
  width: 100%;
  padding: 0.825rem 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  color: #986df8;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  outline-color: #986df8;
}
.form-group-style input::file-selector-button {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 0.5em;
  border: thin solid #986df8;
  border-radius: 24px;
  background: #986df8;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
}
.form-group-style input::file-selector-button:hover {
  color: white;
  background: #8651fa;
  border: 1px solid #8651fa;
}
.form-group-style textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  color: #986df8;
  background-color: white;
  font-size: 16px;
  resize: none;
  outline-color: #986df8;
}
.form-group-style p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #d60000;
}
.form-group-style p i {
  margin-right: 3px;
}
.form-group-style .form-check-input:checked {
  background-color: #986df8;
  border: 0px solid #986df8;
}

.form-group-style2 .form-control {
  display: block;
  width: 100%;
  padding: 0.825rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #986df8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  background-clip: padding-box;
  border: 1 solid #986df8;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group-style2 .form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="%23343a40" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: 0.825rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #986df8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1 solid #986df8;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group-style2 p {
  margin-top: 10px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  color: #F8285A;
}

/* Ajouter une image */
#picture__input {
  display: none;
}

.picture {
  width: 100%;
  aspect-ratio: 16/9;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

/* image input 2 */
.h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.profile-pic-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pic-holder .pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.uploadProfileInput {
  width: 0px;
  height: 0px;
  position: absolute;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}

/* Snackbar css */
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transform: translateX(-50%);
}

.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* card */
.card-shadow {
  border: 0;
  border-radius: 27px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}
.card-shadow .card-header {
  margin-bottom: 20px;
}

.card-shadow-contact {
  border: 0;
  border-radius: 27px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.card-background {
  border: 0;
  border-radius: 27px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  background-color: #FDF6F0;
}
.card-background .card-body .meta-content-post {
  margin-right: 20px;
  color: #a09fac;
}
.card-background .card-body .meta-content-post i {
  color: #986df8;
}

.card-article .card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-article .card-body {
  padding: 0;
}
.card-article .card-body .category-blog {
  margin-right: 20px;
  color: #986df8;
}
.card-article .card-body .category {
  font-weight: 700;
  text-transform: uppercase;
}
.card-article .card-body .card-post-title {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  color: #19154B;
  font-weight: 700;
  text-decoration: none;
}
.card-article .card-body .card-post-title:hover {
  color: #986df8;
}
.card-article .card-body .meta-content-blog {
  margin-right: 20px;
  color: #a09fac;
}
.card-article .card-footer {
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  border-top: 0px solid rgba(255, 255, 255, 0);
}

.card-light {
  border: 0;
  border-radius: 27px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: white;
}
.card-light .card-body .icon-box {
  background-color: #986df8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.card-light .card-body .icon-box i {
  font-size: 32px;
  color: white;
}
.card-light:hover {
  background-color: #986df8;
}
.card-light:hover .card-body .icon-box {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.card-light:hover .card-body .icon-box i {
  font-size: 32px;
  color: #986df8;
}
.card-light:hover .card-body h3 {
  color: white;
}
.card-light:hover .card-body p {
  color: white;
}

.card-light-shadow {
  border: 0;
  border-radius: 27px;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: white;
}
.card-light-shadow .card-header {
  text-align: center;
  background-color: white;
  border-bottom: 0px;
}
.card-light-shadow .card-header img.card-img-profil {
  border-radius: 50%;
  width: 100px;
}
.card-light-shadow .card-body .icon-box {
  background-color: #986df8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.card-light-shadow .card-body .icon-box i {
  font-size: 32px;
  color: white;
}

.card-comment {
  border: 0;
  border-radius: 27px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  background-color: #FDF6F0;
}
.card-comment img {
  border-radius: 20px;
}
.card-comment .meta-comment {
  margin-right: 20px;
  color: #5b5a67;
}
.card-comment .meta-comment i {
  color: #986df8;
}

.card-border-gray {
  border: 1px solid #dee2e6;
  border-radius: 27px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: white;
}

/* card - images */
.bg-repeat-0 {
  background-repeat: no-repeat !important;
}

.bg-position-center {
  background-position: center !important;
}

.bg-size-cover {
  background-size: cover !important;
}

a[class^=bg-]:not(.btn),
a[class*=bg-]:not(.btn) {
  transition: background-color 0.25s ease;
}

.overflow-hidden {
  overflow: hidden !important;
}

/* icons */
.box-icon {
  background-color: #ffe5da;
  border-radius: 20px;
  padding: 15px;
}
.box-icon i {
  font-size: 36px;
  color: #fc7629;
}

.meta-list-blog {
  margin-right: 20px;
}
.meta-list-blog i {
  color: #fc7629;
}
.meta-list-blog span {
  color: #5b5a67;
}

/* désactiver l'article */
.box-show-outline-icon {
  background-color: white;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
  border: 1px solid #19154B;
  border-radius: 0.375rem;
  font-size: 20px;
  color: #19154B;
}

.box-show-outline-icon:hover {
  display: none;
}

.box-show-outline-icon:hover + .box-hide-icon {
  display: block;
}

.box-hide-icon {
  display: none;
  background-color: #19154B;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
  border: 1px solid #19154B;
  border-radius: 0.375rem;
  font-size: 20px;
  color: white;
}

/* activer l'article */
.box-show-icon {
  background-color: #19154B;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
  border: 1px solid #19154B;
  border-radius: 0.375rem;
  font-size: 20px;
  color: white;
}

.box-show-icon:hover {
  display: none;
}

.box-show-icon:hover + .box-hide-outline-icon {
  display: block;
}

.box-hide-outline-icon {
  display: none;
  background-color: white;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 8px;
  border: 1px solid #19154B;
  border-radius: 0.375rem;
  font-size: 20px;
  color: #19154B;
}

/* list group */
.blog-postlist-content {
  text-decoration: none;
}
.blog-postlist-content .blog-postlist-title {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  color: #19154B;
  font-weight: 700;
}
.blog-postlist-content .blog-postlist-intro {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  color: #5b5a67;
  font-weight: 500;
}
.blog-postlist-content .meta-lists {
  font-family: "Hind Siliguri", sans-serif;
  color: #79829B;
  font-weight: 400;
}

.list-group-item {
  position: relative;
  display: block;
  padding-left: 0px;
  color: #5b5a67;
  text-decoration: none;
  background-color: var(--bs-list-group-bg);
  border: 0px solid rgba(255, 255, 255, 0);
}

/* list group compte */
.list-group-flush .list-group-item {
  position: relative;
  display: block;
  padding-left: 0px;
  color: #19154B;
  text-decoration: none;
  background-color: white;
  border: 0px solid white;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
}
.list-group-flush .list-group-item .box-icon-account {
  margin-right: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #ffe5da;
  background-color: #ffe5da;
}
.list-group-flush .list-group-item .box-icon-account i {
  font-size: 18px;
  color: #fc7629;
}
.list-group-flush .list-group-item:hover {
  color: #fc7629;
  background-color: #ffe5da;
  border: 0px solid #ffe5da;
}
.list-group-flush .list-group-item-action {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  border: 0;
  border-radius: 0.5rem;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
.list-group-flush .list-group-item.active {
  z-index: 2;
  color: white;
  background-color: #986df8;
  border-color: #986df8;
  box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
  font-weight: 500;
}
.list-group-flush .list-group-item.active .box-icon-account {
  margin-right: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
}
.list-group-flush .list-group-item.active .box-icon-account i {
  font-size: 18px;
  color: #986df8;
}
.list-group-flush .list-group-item.exit-account {
  z-index: 2;
  color: #19154B;
  background-color: rgba(255, 255, 255, 0);
  border-color: #986df8;
  box-shadow: none;
  font-weight: 500;
}
.list-group-flush .list-group-item.exit-account .box-icon-account {
  margin-right: 20px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0;
  border: 0px solid white;
  background-color: rgba(255, 255, 255, 0);
}
.list-group-flush .list-group-item.exit-account .box-icon-account i {
  font-size: 18px;
  font-weight: 700;
  color: #986df8;
}
.list-group-flush .list-group-item.exit-account:hover {
  color: #986df8;
}

/* modal */
.modal-alert-primary {
  background-color: #f0ebfd;
  border-radius: 27px;
}
.modal-alert-primary .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal-alert-primary .modal-header .btn-icon {
  padding: 0px;
}
.modal-alert-primary .modal-header .btn-icon i {
  font-size: 30px;
  color: #986df8;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
}
.modal-alert-primary .modal-header .btn-icon i:hover {
  color: #19154B;
}
.modal-alert-primary .modal-body .icon-box {
  background-color: #986df8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.modal-alert-primary .modal-body .icon-box i {
  font-size: 32px;
  color: white;
}

.modal-alert-secondary {
  background-color: #FAE6DB;
  border-radius: 27px;
}
.modal-alert-secondary .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal-alert-secondary .modal-header .btn-icon {
  padding: 0px;
}
.modal-alert-secondary .modal-header .btn-icon i {
  font-size: 30px;
  color: #fc7629;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
}
.modal-alert-secondary .modal-header .btn-icon i:hover {
  color: #19154B;
}
.modal-alert-secondary .modal-body .icon-box {
  background-color: #fc7629;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.modal-alert-secondary .modal-body .icon-box i {
  font-size: 32px;
  color: white;
}

.modal-alert-danger {
  background-color: #ffeff3;
  border-radius: 27px;
}
.modal-alert-danger .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal-alert-danger .modal-header .btn-icon {
  padding: 0px;
}
.modal-alert-danger .modal-header .btn-icon i {
  font-size: 30px;
  color: #DE506E;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
}
.modal-alert-danger .modal-header .btn-icon i:hover {
  color: #19154B;
}
.modal-alert-danger .modal-body .icon-box {
  background-color: #DE506E;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.modal-alert-danger .modal-body .icon-box i {
  font-size: 32px;
  color: white;
}

.modal-alert-warning {
  background-color: #fff8dd;
  border-radius: 27px;
}
.modal-alert-warning .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal-alert-warning .modal-header .btn-icon {
  padding: 0px;
}
.modal-alert-warning .modal-header .btn-icon i {
  font-size: 30px;
  color: #F2B45A;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
}
.modal-alert-warning .modal-header .btn-icon i:hover {
  color: #19154B;
}
.modal-alert-warning .modal-body .icon-box {
  background-color: #F2B45A;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.modal-alert-warning .modal-body .icon-box i {
  font-size: 32px;
  color: white;
}

.modal-form-light {
  background-color: white;
  border-radius: 27px;
}
.modal-form-light .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal-form-light .modal-header .btn-icon {
  padding: 0px;
}
.modal-form-light .modal-header .btn-icon i {
  font-size: 30px;
  color: #986df8;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
}
.modal-form-light .modal-header .btn-icon i:hover {
  color: #19154B;
}
.modal-form-light .modal-body .icon-box {
  background-color: #F2B45A;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.modal-form-light .modal-body .icon-box i {
  font-size: 32px;
  color: white;
}

.modal-form-secondary {
  background-color: white;
  border-radius: 27px;
}
.modal-form-secondary .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal-form-secondary .modal-header .btn-icon {
  padding: 0px;
}
.modal-form-secondary .modal-header .btn-icon i {
  font-size: 30px;
  color: #fc7629;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
}
.modal-form-secondary .modal-header .btn-icon i:hover {
  color: #19154B;
}
.modal-form-secondary .modal-body .icon-box {
  background-color: #fc7629;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  transform: rotate(1deg);
  margin-bottom: 20px;
}
.modal-form-secondary .modal-body .icon-box i {
  font-size: 32px;
  color: white;
}

/* offcanvas */
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #19154B !important;
}

.offcanvas-aside {
  width: 21rem;
  z-index: 1045;
}

.offcanvas-header img {
  width: 47px;
}
.offcanvas-header span {
  font-family: "Baloo Thambi 2", system-ui;
  font-size: 30px;
  color: white;
  margin-left: 15px;
}

.offcanvas-body .profil-offcanvas {
  margin-top: 20px;
  text-align: center;
}
.offcanvas-body .profil-offcanvas h5 {
  color: white;
}
.offcanvas-body .profil-offcanvas p {
  color: #fc7629;
}

@media (min-width: 992px) {
  .offcanvas-lg .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */