/* typography */

.heading-home{
    font-family: $font-title;
    font-size: 66px;
    color: $colour-title;
    font-weight: $font-bold;
    line-height: 1.1em;
}

.running-text{
    font-family: $font-text;
    font-size: 16px;
    color: $colour-text;
    font-weight: $font-regular;
}

.highlighted-text{
    font-family: $font-text;
    font-size: 18px;
    color: $colour-text;
    font-weight: $font-medium;
}


.titre-page{
    font-family: $font-title;
    font-size: 56px;
    color: $colour-title;
    font-weight: $font-bold;
    line-height: 1.1em;
}

.titre-section{
    font-family: $font-title;
    font-size: 46px;
    color: $colour-title;
    font-weight: $font-bold;
    line-height: 1.1em;
}

.titre-h3{
    font-family: $font-title;
    font-size: 26px;
    color: $colour-title;
    font-weight: $font-bold;

}

.titre-h4{
    font-family: $font-title;
    font-size: 26px;
    color: $colour-title;
    font-weight: $font-bold;

}

.titre-h5{
    font-family: $font-title;
    font-size: 24px;
    color: $colour-title;
    font-weight: $font-bold;
}

.titre-h6{
    font-family: $font-title;
    font-size: 18px;
    color: $colour-title;
    font-weight: $font-bold;
}


.color-link-primary{
    color: $colour-primary;
    text-decoration: none;
    font-weight: $font-medium;
    &:hover{
        text-decoration: underline; 
    }
}

.text-category{
    font-family: $font-text;
    font-size: 16px;
    color: $colour-primary;
    font-weight: $font-bold;
    text-transform: uppercase;
}